.AboutUs {

    font-family: "Arial", serif;
    height: 100%;
    width: calc(100% - 30px);
    background-image: url("./aboutUsBackground.png");
    background-size: cover;
    padding: 5px 15px;
    color: teal;
    border: 1px solid teal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.div1, .div2 {
    text-align: left;
    width: calc(30% - 16px);
    padding: 10px 8px;
}
.div2{ width: 30%}
.h2 {

     margin: 0;
     padding: 10px 0;
     height: 20px;
     width: 100%;
     font-variant: small-caps;
 }