.contentProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.linkBoxStyle{
    text-align: center;
    width: calc(25% - 20px);
}
.linkStyle{
    text-decoration: none;
}
@media (max-width: 767px){
    .linkBoxStyle{
        width: calc(50% - 20px);
    }
}
@media (max-width: 440px){
    .linkBoxStyle{
        width: calc(100% - 20px);
    }
}