.pages{
  background-color: red;
}


.main{
  display: flex;
  flex-direction: column;
}

.Userinfo{
  display: flex;
  flex-direction: row;
  
}

.UserName{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: xx-large;
}