
.main{
  display: flex;
  flex-direction: column;

}

.Userinfo{
  display: flex;
  flex-direction: row;
  
}

.UserName{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: xx-large;
}

.btn{
  text-align: center;
  margin: 10px 0;
  border: 1px solid black;
  background: transparent;
  width: 150px;
  padding: 5px 0;
}
.btn:hover{
  text-decoration: underline;
  color: black;

}
.btn:active {
  color: black;

}